<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Chat{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
    <main>
        <div>
        <h1>ChatRoom</h1>
        {% if notification %}
            <p id="notification" class="notification">{{ message }}</p>
        {% endif %}
        </div>
        {% block content %}
        <div>
            {% if user %}
                <br>
                <form action="/create_chat" method="POST">
                    <h3>Create New Chat</h3>
                    <input type="text" class="input" name="chat">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}">
                    <input type="submit" class="button" value="Create">
                </form>
                <br>
                <br>
                {% for chat in chats %}
                    <div>
                        <a href="/chat?chat_id={{ chat.id }}">
                        <h3>{{ chat.chat }}</h3>
                        </a>
                    </div>
                {% endfor %}
                <br>
                <a href="/logout">Log out</a>
            {% else %}
                <h2>Log in</h2>
                <form action="/login" method="POST">
                    <p>Username:<br>
                    <input type="text" class="input" name="username"></p>
                    <p>Password:<br>
                    <input type="password" class="input" name="password"></p>
                    <input type="submit" class="button" value="Log in">
                </form>
                </br>
                Don't have an account? <a href="/register">Register here</a>
            {% endif %}
        </div>
        {% endblock %}
    </main>
    </body>
</html>